.nav-box{
  border: #42b983 solid 1px;
  display: inline-flex;
  justify-content: center;
  margin: 0 auto;
  text-align: center;
  li {
    padding: 0 10px;
  }
  li:hover{
    background: lightgreen;
  }

}
